body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nav a {
    border-left: 1px solid #333;
}
input, .login-button{
    margin:10px auto;
    display:block;
    width: 250px;
    color: #acacac;
    text-align:center;
}
input {
    height: 30px;
    border-radius: 6px;
}
.login-button, .login-button:visited {
    background-color: #f0c606;
    border: 1px solid #786202;
    color: #333;
    font-weight: bold;
}
    .login-button:hover, .login-button:active {
        background-color: #ffdc3d;
        color: #ad9322;
    }
.login-box{
    width: 100%;
    margin: 15% auto;
    text-align:center;
}
.login-box h1{
    font-weight:bold;
    font-family: fantasy;
}
footer{
    text-align:center;
}