<div class="login-box">
    <h1>my Movie Db</h1>


    <input type="text" id="username" name="username" placeholder="Email" />
    <input type="password" id="password" name="password" placeholder="Password" />

    <input type="text" id="username" name="username" placeholder="username" />

    <input type="text" id="password" name="password" placeholder="password" />
    <a href="/session/login" id="loginButton" name="loginButton" class="login-button btn btn-primary btn-lg">Log in</a>

    <input type="password" id="password" name="password" placeholder="password" />

    <button id="loginButton" name="loginButton" class="login-button btn btn-primary btn-lg">Log in</button>



</div>