<div class="login-box">
    <h1>my Movie Db</h1>
    <input type="text" id="username" name="username" placeholder="Email" />
    <input type="password" id="password" name="password" placeholder="Password" />
    <button id="loginButton" name="loginButton" class="login-button btn btn-primary btn-lg">Log in</button>
    <div id="response" class="response"></div>
    <div id="error" class="error"></div>
</div>

<div class="login-box">
    <br />
    <br />
    <h4>Create new user</h4>
    <input type="text" id="newUsername" name="Username" placeholder="Email" />
    <input type="password" id="newPassword" name="Password" placeholder="Password" />
    <input type="password" id="verifyPassword" name="verifyPassword" placeholder="Verify password" />
    <button id="createButton" name="createButton" class="login-button btn btn-primary btn-lg">Create new user</button>
</div>

