<div class="login-box">
    <h1>my Movie Db</h1>
    <input type="text" name="userName" value="username" />
    <input type="text" name="userPassword" value="password" />
    <a href="/session/login" class="login-button btn btn-primary btn-lg">Log in</a>
</div>