
@{
    ViewBag.Title = "NewUser";
}


<div class="login-box">

    <h3>Create new user</h3>
    <input type="text" id="newUsername" name="Username" placeholder="Email" />
    <input type="password" id="newPassword" name="Password" placeholder="Password" />
    <input type="password" id="verifyPassword" name="verifyPassword" placeholder="Verify password" />
    <button id="createButton" name="createButton" class="login-button btn btn-primary btn-lg">Create new user</button>
    <div id="response" class="response"></div>
    <div id="error" class="error"></div>
</div>
