
@{
    ViewBag.Title = "NewUser";
}

<h2>NewUser</h2>

<div class="login-box">
    <br />
    <br />
    <h3>Create new user</h3>
    <input type="text" id="newUsername" name="Username" placeholder="Email" />
    <input type="password" id="newPassword" name="Password" placeholder="Password" />
    <input type="password" id="verifyPassword" name="verifyPassword" placeholder="Verify password" />
    <button id="createButton" name="createButton" class="login-button btn btn-primary btn-lg">Create new user</button>
</div>
